h1 {
	font-family: Great Vibes;
	text-align: center;
	margin: 10px;
	font-size: 75px;
	margin-top: -5px;
}

h2 {
	font-family: Great Vibes;
	font-size: 35px;
	margin: 10px;
}

p {
	font-family: Mulish;
}

ol {
	font-family: Mulish;
}

ul {
	font-family: Mulish;
}

img {
	max-width: 100%;
	object-fit: contain;
}

@media (min-aspect-ratio: 3/4) or (max-height: 835px)  { 
	h1 {
		font-size: 55px;
		margin-top: 0px;
	}
}
