html,
body {
	height: 100%;
	background-color: #243150;
	background: center/cover no-repeat url("background.jpg");
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 200px rgba(0,0,0,0.9) inset;
}

@font-face {
  font-family: christmas-font;
  src: url(mountains-of-christmas.ttf);
}

#time-left-text {
	text-align: center;
	font-family: Great Vibes;
	font-size: 55px;
	color: white;
	backdrop-filter: blur(3px);
  	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
	margin: 10px;
}

.container {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100%;
	height: 100%;
}

.center {
	/* border: 1px solid; */
	/*margin: auto;*/
	width: 100%;
	max-width: 500px;
	padding: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-content: space-around;
	gap: 1%;
}

.day-button {
	flex: 1 0 17%;
	border: 1px solid;
	border-color: #000F;
	/* border-radius: 20px; */
	/* width: 50px; */
	/* max-height: 50px; */
	max-width: 100px;
	background-color: #EFF3;
	padding: 20px 0;
	margin: 1% 0px;
	text-align: center;
	font-family: Mountains of Christmas;
	font-size: 50px;
	color: white;
	backdrop-filter: blur(3px);
	/* filter: blur(4px); */
  	text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}


.day-button:hover {
	background-color: #EFFA	;
}

/* The Modal (background) */
.modal {
  /* display: block; /* Hidden by default */
	display:none;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
	min-height: 60%;
	height: auto;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.invisible {
	display: none;
}



